name: Frontend Auto Deploy

on:
  push:
    branches: [ "main" ]
    paths:
      - 'frontend/**'

jobs:
  deploy-front:
    runs-on: self-hosted

    steps:
      - name: Execute Frontend Deploy Script
        run: |
          # 스크립트 실행
          cd /home/dabin
          ./deploy-front.sh