name: Frontend Auto Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy-front:
    runs-on: self-hosted

    steps:
      # 1. Runner 작업 폴더 청소
      - name: Clean up old files
        run: sudo rm -rf ./*

      # 2. 코드 다운로드
      - name: Checkout source code
        uses: actions/checkout@v3

      # 3. .env 파일 생성 (폴더 이동 없이 바로 생성)
      # - name: Create .env file
      #   run: |
      #     echo "VITE_API_BASE_URL=${{ secrets.VITE_API_BASE_URL }}" > .env

      # 4. 의존성 설치 및 빌드 (폴더 이동 없이 바로 실행)
      - name: Install & Build
        env:
          VITE_API_BASE_URL: https://api.jeja.shop
        run: |
          echo "현재 적용된 API 주소: $VITE_API_BASE_URL" 
          
          npm install --legacy-peer-deps
          npm run build

      # 5. 결과물 이동
      - name: Deploy to Nginx
        run: |
          echo "Nginx가 바라보는 폴더로 배포 시작!"
          
          # 1. Nginx가 보고 있는 폴더 비우기 (경로 수정)
          sudo rm -rf /home/dabin/frontend/dist/*
          
          # 2. 혹시 모르니 폴더가 없으면 생성
          sudo mkdir -p /home/dabin/frontend/dist/

          # 3. 새 빌드 파일 복사 (경로 수정)
          sudo cp -r dist/* /home/dabin/frontend/dist/
          
          # 4. Nginx 재시작
          sudo systemctl restart nginx
          echo "진짜 배포 끝! 이제 확인해보세요."
